.border-select-dark:focus {
  border-color: antiquewhite;
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
}
.border-select-light:focus {
  border-color: black;
  box-shadow: 0 0 0 0.25rem rgba(12, 12, 12, 0.25);
}

.marquee {
  white-space: nowrap;
  overflow: hidden;
}
.form-select:disabled {
  background-color: rgba(59, 59, 59, 0.507);
}

select.dark {
  background-color: var(--bs-dark);
  color: var(--bs-white);
}
select.light {
  background-color: var(--bs-light);
  color: var(--bs-dark);
}
select:disabled {
  color: rgba(255, 255, 255, 0.25);
}

.marquee::after,
.marquee::before {
  position: absolute;
  top: 0%;
  width: 5rem;
  height: 100%;
  content: "";
  z-index: 1;
}

.marquee::after {
  right: 0;
  background-image: linear-gradient(
    to left,
    var(--marquee-bg) 0%,
    transparent 100%
  );
}

.marquee::before {
  left: 0;
  background-image: linear-gradient(
    to right,
    var(--marquee-bg) 0%,
    transparent 100%
  );
}

.marquee div {
  padding-left: 100%;
  display: inline-block;
  animation: animate linear infinite;
  animation-duration: 45s;
}

@keyframes animate {
  100% {
    transform: translate(-100%, 0);
  }
}

.marquee div:hover {
  animation-play-state: paused;
}
